* {
	box-sizing: border-box;
}

body {
	padding: 5px 30px;
}

.page-title {
	text-align: center;
}

.TDLApp {
	padding: 30px;
	display: flex;
}

.TDLApp>div {
	margin-right: 50px;
}

.error {
	border: red 1px solid;
}

.error-message {
	color: red;
}

.active-filter {
	background-color: aquamarine;
}

.is-done {
	opacity: 0.5;
}